
<table th:fragment="cohortOverviewTable" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="cohort: ${cohorts}">
        <td th:text="${cohort.id}">ID</td>
        <td th:text="${cohort.name}">Name</td>
        <td th:text="${cohort.description}">Description</td>
        <td th:text="${cohort.startDate}">Start Date</td>
        <td th:text="${cohort.endDate}">End Date</td>
        <td>
            <a th:href="@{/books/edit/{cohortId}(cohortId=${cohort.id})}">View Cohort</a>
        </td>
        <td>
            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#addEditCohortModal"
                    sec:authorize="hasRole('ADMIN')">Edit Cohort</button>
        </td>
    </tr>
    </tbody>
</table>