<div class="modalfade" id="cohortAddEditModal"
     tabindex="-1"
     aria-labelledby="cohortAddEditModal"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header-->
            <div class="modal-header">
                <h5 class="modal-title"
                    id="cohortAddEditModalLabel">
                    Auteur toevoegen
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Sluiten"></button>
            </div>
            <!-- Body: hier komt het formulier-->
            <div class="modal-body">
                <!-- formulierhier-->



            </div>
            <!-- Footer (optioneel)-->
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    Annuleren
                </button>
            </div>
        </div>
    </div>
</div>