<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="modal fade" id="editCohortModal"
     tabindex="-1"
     aria-labelledby="editCohortModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title"
                    id="editCohortModalLabel">
                    Add or Edit Cohort
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form sec:authorize="hasRole('TEACHER')"
                      th:replace="~{fragments/cohort-add-edit-form :: cohort-add-edit-form}"></form>
            </div>
        </div>
    </div>
</div>

</html>