<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="baseheader(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title th:replace="${title}">This is the base title</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<nav th:fragment="navbar">
    <ul>
        <div class="nav-links">
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
        </div>
        <div class="nav-actions">
            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn-logout">LOGOUT</button>
            </form>
        </div>
    </ul>
</nav>
<footer th:fragment="footer">
    <p>Dit is de footer</p>
</footer>

