<nav th:fragment="navbar">
    <ul>
        <div class="nav-links">
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
            <a th:href="@{/}">DEMO</a>
        </div>
        <div class="nav-actions">
            <form th:action="@{/logout}" method="post" style="margin: 0;">
                <button type="submit" class="btn-logout">LOGOUT</button>
            </form>
        </div>
    </ul>
</nav>
<footer th:fragment="footer">
    <p>Dit is de footer</p>
</footer>

