<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Left container with logo for login page -->
<div th:fragment="leftSideLogo" class="w-50 bg-primary text-white d-flex justify-content-center align-items-center">
    <div class="w-50 d-flex justify-content-center align-items-center">
        <img alt="IntraClass™ Logo" src="/img/IntraClass.png" class="img-fluid w-100">
    </div>
</div>

<!-- Right container for login page -->
<div th:fragment="rightSide" class="w-50 bg-light d-flex flex-column justify-content-center align-items-center p-4">
    <div sec:authorize="isAnonymous()" class="d-block">
        <h1 class="main-title-dark"><i class="bi bi-box-arrow-in-right"></i> Log In</h1>
    </div>
    <!-- Content for visitor without login -->
    <div sec:authorize="isAnonymous()" class="d-block p-2 mb-4">
        <form class="text-center" th:action="@{/login}" method="post">

            <div th:if="${param.error}" class="form-control is-invalid">
                <p>Login failed. Try again.</p>
            </div>

            <label for="username"></label>
            <input type="text"  class="form-control rounded-pill" id="username" name="username" placeholder="Username">

            <label for="password"></label>
            <input type="password" class="form-control rounded-pill mb-4"
                   id="password" name="password" placeholder="Password">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-primary rounded mb-2">Sign in</button>

            <div th:if="${param.logout}">
                <p>You've been logged out.</p>
            </div>
        </form>
    </div>
    <!-- Content for TEACHER or STUDENT-->
    <div sec:authorize="isAuthenticated()" class="d-block p-2 mb-4">
        <h1 class="main-title-dark">
            <i class="bi bi-briefcase"></i> Welcome, <span th:text="${#authentication.principal.fullName}"></span>!
        </h1>
        <nav th:replace="~{fragments/general :: navbar}"></nav>
        <div th:replace="~{fragments/general :: dummy}"></div>
    </div>
</div>
</html>