<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Left container with logo for login page -->
<div th:fragment="leftSideLogo" class="w-50 bg-primary text-white d-flex justify-content-center align-items-center">
    <div class="w-50 d-flex justify-content-center align-items-center">
        <img alt="IntraClass™ Logo" src="/img/IntraClass.png" class="img-fluid w-100">
    </div>
</div>

<!-- Right container for login page -->
<div th:fragment="rightSide" class="w-50 d-flex flex-column justify-content-center align-items-center p-4 rounded">
    <div sec:authorize="isAnonymous()" class="d-block">
        <h1 class="main-title-dark"><i class="bi bi-box-arrow-in-right"></i> Log In</h1>
    </div>
    <!-- Content for visitor without login -->
    <div sec:authorize="isAnonymous()" class="d-block p-2 mb-4">
        <form class="text-center" th:action="@{/login}" method="post">

            <div th:if="${param.error}" class="form-control is-invalid">
                <p>Login failed. Try again.</p>
            </div>

            <label for="username"></label>
            <input type="text"  class="form-control rounded-pill" id="username" name="username" placeholder="Username">

            <label for="password"></label>
            <input type="password" class="form-control rounded-pill mb-4"
                   id="password" name="password" placeholder="Password">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-primary rounded mb-2">Sign in</button>

            <div th:if="${param.logout}">
                <p>You've been logged out.</p>
            </div>
        </form>
    </div>
    <!-- Content for TEACHER or STUDENT-->
    <div sec:authorize="isAuthenticated()" class="d-block bg-light p-2 mb-4">
        <h1 class="main-title-dark">
            <i class="bi bi-mortarboard-fill" sec:authorize="hasRole('STUDENT')"></i>
            <i class="fa-solid fa-chalkboard-user" sec:authorize="hasRole('TEACHER')"></i>
            Welcome, <span th:text="${#authentication.principal.person.fullName}"></span>!
        </h1>
        <nav th:replace="~{fragments/general :: navbar}"></nav>
        <div class="d-flex">
            <div  class="w-50 d-flex flex-column justify-content-center align-items-center p-4">
                <div class="profile-img-wrapper">
                <img th:if="${person.image != null}"
                     th:src="@{/images/{id}(id=${person.image.id})}" class="rounded-circle">
                </div>
            </div>
            <div  class="w-50 d-flex flex-column justify-content-top align-items-left p-4">
                <h2>Personal Details</h2>
                <p>
                    <b>Full Name:</b> <span th:text="${person.getFullName}"></span><br>
                    <b>Date of Birth:</b>
                    <span th:text="${#temporals.format(person.dateOfBirth, 'dd-MM-yyyy')}">
                    </span><br>
                    <b>Email:</b> <span th:text="${person.getEmail}"></span><br>
                    <span sec:authorize="hasRole('STUDENT')">
                        <b>Bio:</b> <span th:text="${person.getBio}"></span><br>
                        </span>
                    <span sec:authorize="hasRole('STUDENT')">
                        <b>City:</b> <span th:text="${person.getCity}"></span><br>
                        </span>
                    <span sec:authorize="hasRole('STUDENT')">
                        <b>Employer:</b> <span th:text="${person.getEmployer}"></span><br>
                        </span>
                    <span sec:authorize="hasRole('TEACHER')">
                        <b>Specialty:</b> <span th:text="${person.getSpecialty}"></span><br>
                        </span>
                    <br>
                    <i class="bi bi-pencil-square"></i> <a data-bs-toggle="modal"
                                                           data-bs-target="#editPersonModal">Edit details</a>
                </p>
            </div>
        </div>
    </div>
</div>

</html>