h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #031527; /* warm coral for fun vibe */
    margin-bottom: 0.5rem;
}

.main-title-light {
    color: #fff;
}