
h1, h2, h3, h4, h5, h6 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #043968;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.5em;
}

.cohortViewTable {
    width: 50%;
}

.navbar-dark a {
    color: #fff;
}

/* From Uiverse.io by eslam-hany */
.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-color: whitesmoke;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.book:hover .cover {
    transition: all 0.5s;
    transform: rotatey(-85deg);
}

/* Container and Book Sizing */
.person-card {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* The revealed content */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    justify-content: center;
}

.person-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #003366;
}

.person-details p {
    margin: 2px 0;
    font-size: 0.9rem;
    color: #555;
}

/* Icons */
.card-actions {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.edit-icon { color: #071cff; }
.delete-icon { color: #dc3535; }

.cover p {
    font-weight: bold;
    color: #444;
}

.alert{
    position: absolute;
}

#fluidCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: none;
}

.content {
    position: relative;
    z-index: 10;
}

.custom-bg-fluid {
    backface-visibility: hidden;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f8f9fa;
}

.active {
    font-weight: bold;
}

.navbar {
    font-size: 1.5em;
}

.profile-img-wrapper {
    width: 75%;
    aspect-ratio: 1 / 1;
}

.profile-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
