<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cohortformulier</title>
</head>
<body>
<h1>Add en Edit een Cohort</h1>

<form th:action="@{/cohort/add-edit}" th:object="${cohort}" method="post">
    <div>
        <label for="name">Naam</label>
        <input type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="description">Beschrijving</label>
        <input type="text" id="description" th:field="*{description}">
    </div>
    <div>
        <label for="startDate">Startdatum</label>
        <input type="text" id="startDate" th:field="*{startDate}">
    </div>
    <div>
        <label for="endDate">Naam</label>
        <input type="text" id="endDate" th:field="*{endDate}">
    </div>
    <button type="submit">Toevoegen</button>
</form>

</body>
</html>