<!DOCTYPE html>

<!--Author: G. Neuteboom-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${pageTitle}">Cohort View</title>
    <meta charset="UTF-8">
</head>

<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<h2>Cohort:  <span th:text="${cohort.name}"></span></h2>
<table style="width:33%">
    <tr>
        <td>ID:</td>
        <td th:text="${cohort.id}"></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td th:text="${cohort.description}"></td>
    </tr>
    <tr>
        <td>Start Date:</td>
        <td th:text="${cohort.startDate}"></td>
    </tr>
    <tr>
        <td>End Date:</td>
        <td th:text="${cohort.endDate}"></td>
    </tr>
</table>

<h3>Teachers in this cohort:</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Affix</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Specialty</th>
        <th>E-Mail</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="teacher: ${cohort.teacher}">
        <td th:text="${teacher.id}">ID</td>
        <td th:text="${teacher.firstName}">First Name</td>
        <td th:text="${teacher.affix}">Affix</td>
        <td th:text="${teacher.lastName}">Last Name</td>
        <td th:text="${teacher.dateOfBirth}">Date of Birth</td>
        <td th:text="${teacher.specialty}">Specialty</td>
        <td th:text="${teacher.email}">E-Mail</td>
    </tr>
    </tbody>
</table>

<h3>Students in this cohort:</h3>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Affix</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>City</th>
        <th>Employer</th>
        <th>Biography</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="student: ${cohort.student}">
        <td th:text="${student.id}">ID</td>
        <td th:text="${student.firstName}">Name</td>
        <td th:text="${student.affix}">Description</td>
        <td th:text="${student.lastName}">Start Date</td>
        <td th:text="${student.dateOfBirth}">End Date</td>
        <td th:text="${student.city}">City</td>
        <td th:text="${student.employer}">Employer</td>
        <td th:text="${student.bio}">Biography</td>
    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/general :: scripts}"></div>
<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>