<!DOCTYPE html>

<!--Author: G. Neuteboom-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${pageTitle}"></title>>
    <meta charset="UTF-8">
</head>

<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<h1 th:text="${pageTitle}"></h1>

<table th:replace="~{fragments/cohortOverviewTable :: cohortOverviewTable}"></table>

<button type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#addEditCohortModal"
        sec:authorize="hasRole('ADMIN')">Add Cohort</button>


<nav th:replace="~{fragments/general :: footer}"></nav>
</body>
</html>