<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title th:text="${pageTitle}"></title>
</head>
<body>
<!-- Content for logged out -->
<div class="container-fluid p-0">
  <div class="d-flex min-vh-100">
    <!-- LEFT -->
    <div  th:replace="~{fragments/login :: leftSideLogo}"></div>
    <!-- RIGHT -->
    <div  th:replace="~{fragments/login :: rightSide}"></div>
  </div>
</div>
<nav th:replace="~{fragments/general :: footer}"></nav>
</body>
</html>