<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
  <title th:text="${pageTitle}">Person Overview</title>
</head>
<body>

<h1 class="main-title" th:text="${pageTitle}"></h1>

<form th:action="@{/}" method="post">
  <label for="username">Username</label>
  <input type="text" id="username" name="username">

  <label for="password">Password</label>
  <input type="password" id="password" name="password">

  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

  <button type="submit">Sign in</button>

  <div th:if="${param.error}">
    <p>Login failed. Try again.</p>
  </div>
  <div th:if="${param.logout}">
    <p>You've been logged out.</p>
  </div>
</form>

<nav th:replace="~{fragments/general :: footer}"></nav>

</body>
</html>