<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Dit is de eerste pagina</title>
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>


<h1>Person Overview</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Affix</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Bio</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person: ${people}">
        <td th:text="${person.id}">Titel</td>
        <td th:text="${person.firstName}">Auteur</td>
        <td th:text="${person.affix}">0000</td>
        <td th:text="${person.lastName}">0000</td>
        <td th:text="${person.dateOfBirth}">0000</td>
        <td th:text="${person.bio}">0000</td>
    </tr>
    </tbody>
</table>

<nav th:replace="~{fragments/general :: footer}"></nav>

<!--<div th:replace="~{fragments/person :: personDetail}">-->

<!--<div>-->
<!--    <h2>ID</h2>-->
<!--    <p th:text="${person.type.id}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <h2>First Name</h2>-->
<!--    <p th:text="${person.type.firstName}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <h2>Affix</h2>-->
<!--    <p th:text="${person.type.Affix}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <h2>Last Name</h2>-->
<!--    <p th:text="${person.type.lastName}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <h2>Date of Birth</h2>-->
<!--    <p th:text="${person.type.dateOfBirth}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <h2>City</h2>-->
<!--    <p th:text="${person.type.city}"></p>-->
<!--</div>-->

<!--<div>-->
<!--    <h2>Bio</h2>-->
<!--    <p th:text="${person.type.bio}"></p>-->
<!--</div>-->

<!--</div>-->
</body>
</html>