<!DOCTYPE html>

<!--Made by nimble hands of Danylo Dudar-->

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${pageTitle}"></title>>
    <meta charset="UTF-8">
</head>

<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>
<div class="container-fluid p-4">
<h1 class="main-title" th:text="${pageTitle}"></h1>
<table th:replace="~{fragments/person :: teacherTable}"></table>

<table th:replace="~{fragments/person :: studentTable}"></table>

<div class="mb-3">
    <a th:href="@{/students/add}">Add New Student</a>
    <a th:href="@{/teachers/add}">Add New Teacher</a>
</div>
</div>
<div th:replace="~{fragments/general :: scripts}"></div>
<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>