<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${pageTitle}"></title>
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>

<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mb-4 pb-2 border-bottom">
        <h1 class="main-title text-primary m-0"><i class="bi bi-mortarboard-fill"></i> Student Overview</h1>
        <button type="button"
                class="btn btn-primary shadow-sm bi bi-plus-lg me-1"
                data-bs-toggle="modal"
                data-bs-target="#addStudentModal">
            Add New Student
        </button>
    </div>

    <div class="cohort-banner-block shadow-sm">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Profile Image</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Employer</th>
                <th>City</th>
                <th>Cohort(s)</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="student: ${students}">
                <td>
                    <div class="profile-img-wrapper" style="width: 50px;">
                        <img th:if="${student.image != null}"
                             th:src="@{/images/{id}(id=${student.image.id})}" class="rounded-circle">
                        <span th:if="${student.image == null}">
                        <i class="bi bi-person-circle placeholder-styling-s"></i>
                        </span>
                    </div>
                </td>
                <td th:text="${student.fullName}">Name</td>
                <td th:text="${#temporals.format(student.dateOfBirth, 'dd-MM-yyyy')}">Date of Birth</td>
                <td th:text="${student.email}">Email</td>
                <td th:text="${student.employer}">Employer</td>
                <td th:text="${student.city}">City</td>
                <td>
                    <span th:each="cohort, stat : ${student.cohort}">
                        <a th:href="@{/cohort/view/{id}(id=${cohort.id})}" th:text="${cohort.name}"></a>
                        <span th:if="${!stat.last}">, </span>
                    </span>
                </td>
                <td>
                    <div class="ms-auto btn-group-sm">
                        <a th:href="@{/student/view/{id}(id=${student.id})}" class="btn btn-sm btn-outline-primary px-3">View</a>
                        <a th:href="@{/student/edit/{id}(id=${student.id})}" class="btn btn-sm btn-outline-secondary px-3">Edit</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="col text-center">
        <a href="#top" class="btn btn-primary shadow-sm">Go to Top</a>
    </div>

</div>

<div th:replace="~{fragments/general :: scripts}"></div>
<footer th:replace="~{fragments/general :: footer}"></footer>

<div class="modal fade" id="addStudentModal"
     tabindex="-1"
     aria-labelledby="addStudentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title"
                    id="addStudentModalLabel">
                    Add New Student
                </h5>
                <button type="button" class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/student/save}"
                      th:object="${student}" method="post" enctype="multipart/form-data">
                    <div th:replace="~{fragments/person-form :: person-form-fragment}"></div>
                    <div th:replace="~{fragments/person-form :: student-form-fragment}"></div>
                    <div class="d-flex justify-content-between mt-3">
                        <button type="button" class="btn btn-secondary rounded mb-2" data-bs-dismiss="modal">
                            Cancel
                        </button>

                        <button class="btn btn-primary rounded mb-2" type="submit">
                            <i class="fa-solid fa-floppy-disk"></i> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>