<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/general :: baseheader(~{:: title})}">
    <title th:text="${pageTitle}"></title>>
    <meta charset="UTF-8">
</head>

<body>
<nav th:replace="~{fragments/general :: navbar}"></nav>
<div class="container-fluid p-4">
    <div class="d-flex justify-content-between align-items-center mb-4 pb-2 border-bottom">
        <h1 class="main-title text-primary m-0"><i class="bi bi-pencil-square"></i> Edit Student</h1>
    </div>

    <form th:action="@{/student/save}" th:object="${student}" method="post" enctype="multipart/form-data">
        <div th:replace="~{fragments/person-form :: person-form-fragment}"></div>
        <div th:replace="~{fragments/person-form :: student-form-fragment}"></div>
        <a th:href="@{/student/overview}">Cancel</a>
        <button class="btn btn-primary rounded mb-2" type="submit">Save</button>
    </form>
</div>
<div th:replace="~{fragments/general :: scripts}"></div>
<footer th:replace="~{fragments/general :: footer}"></footer>
</body>
</html>